* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Space Grotesk", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: $gray-3;
}

ul,
li {
  list-style: none;
}
