// Colors
//
$font-weight-bold: 600;
$font-weight-heavy: 800;
$font-weight-thin: 300;

$primary: #f46036;
$secondary: #151e3f;
$alert: #f73830;
$shadows: 7px 7px 7px rgba(0, 0, 0, 0.15);

$gray-0: #000000;
$gray-1: #222222;
$gray-2: #dddddd;
$gray-3: #fbfbfb;
$gray-4: #ffffff;

$font-size-1: 1.5rem;
$font-size-2: 1.25rem;
$font-size-3: 1rem;

$spacer-1: 0.25em;
$spacer-2: 0.5em;
$spacer-3: 1em;
$spacer-4: 1.5em;
$spacer-5: 2em;
