* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,li{
  list-style-type: none;
}

body{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

button {
  border: none;
  background-color: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}