* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul,
li {
  list-style-type: none;
}
img {
  max-width: 100%;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

button {
  border: none;
  background-color: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
.center-text {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  width: 90%;
  margin: 0 auto;
}
.repo {
  display: flex;
  font-size: 1.125rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.repo.lg {
  background-color: #e2e2e2;
}
.repo a {
  text-decoration: none;
  color: inherit;
  word-wrap: break-word;
  word-break: break-all;
}
.repo h4 {
  font-size: 3rem;
  font-weight: lighter;
}
.repo h2 {
  margin: 5px 0;
}
.repo a:hover {
  text-decoration: underline;
  color: inherit;
}
.repo ul {
  margin-top: 0.5em;
  font-weight: 600;
}
.repo ul li {
  display: inline-flex;
  align-items: center;
  margin: 10px 0;
}
.repo ul li svg {
  margin-right: 10px;
}
.repo img {
  max-width: 150px;
  width: 100%;
}
