.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: inherit;
}
.battle {
  width: 90%;
}
.itr {
  width: 90%;
  margin: 0 auto;
}
.itr_header {
  text-align: center;
}
.itr_flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.itr_icon {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 2em;
}
.itr_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.itr_box h3 {
  margin-bottom: 10px;
}
.players_container {
  margin-top: 10em;
  width: 90%;
}
.player {
  width: 100%;
}
.input_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 4em;
}
.input_label {
  display: block;
}
.player_input {
  display: flex;
}
.input_control {
  flex: 2;
  margin-right: 10px;
  padding: 8px;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}
.input_control .input-light {
  background-color: rgba(0, 0, 0, 0.02);

}
.input-dark {
  color:#dadada;
  background-color:rgba(0, 0, 0, 0.03)
}
.player_input button {
  cursor: pointer;
  flex: 1;
}
.btn {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 10px;
  cursor: pointer;
}
.dark-btn {
  color: #e6e6e6;
  background-color: #141414;
}
.dark-btn:disabled {
  background-color: #f2f2f2;
  color: #c7c7c7;
}
@keyframes heightAnimation {
  from {
    opacity: 0;
    height: 0%;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}
.pp_container {
  background-color: rgb(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  animation: heightAnimation 1s linear;
  transition:animation 250ms linear;
}
.avatar-small {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 1em;
}
.pp_link {
  color: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  justify-self: start;
}
.pp_container button {
  cursor: pointer;
  margin-left: auto;
}

.btn-space{
  margin-top: 2em;
  margin-bottom:2em;
  cursor: pointer;
  transform:scale(1);
  transition:transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1)
}
.btn-space:hover{
  transform: scale(1.1)
}
