.navbar {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 2em auto;
}

.navbar li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 20px;
  transform: scale(1);
  transition: transform 200ms linear;
}

.navbar li button:active {
  transform: scale(0.9);
}

.navbar li button:hover {
  transform: scale(1.1);
}

.header-lg {
  font-weight: regular;
}
.center-text {
  text-align: center;
}
