.results_container{
  flex-wrap:wrap;
  margin:2em 0;
  max-width:600px;
  width:90%;
  display:flex;
  justify-content:space-around;

}

.repo{
    max-width:300px;
}
.list {
  display:flex;
  flex-direction:column;
}
.score{
  font-size:1.25rem;
  font-weight:600;
  margin : 0.5em 0;
}
