.bug__entries-container {
  width: 90%;
  max-width: 980px;
  margin: 2em 0;

  header.bug__entries-header {
    width: 100%;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(7, 1fr);
    color: lighten($color: $gray-1, $amount: 20);
    font-weight: $font-weight-bold;
    border-bottom: 1px solid lighten($color: $gray-1, $amount: 20);
    margin-bottom: $spacer-3;
  }
}

.bug__entry-list {
  display: grid;
  width: 100%;
  justify-content: flex-start;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  margin: $spacer-2 0;

  .bug__entry-item {
    text-align: left;
  }
}

.main__screen {
}

.bug__badge-status {
  width: fit-content;
  color: $gray-3;
  text-align: center;
  padding: 1px 7px;
  border-radius: 1em;
}
.bug__submit-screen {
  max-width: 750px;
  margin: $spacer-3 auto;

  form {
    margin-top: 2em;

    select {
      width: fit-content;
      font-size: $font-size-2;
      background-color: $primary;
      border: none;
      padding: $spacer-2;

      option {
        padding: $spacer-2;
      }
    }
  }
}
