$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

.google-btn {
    background-color: $google-blue;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    height: 42px;
    margin: $spacer-2 0;
    transition: box-shadow 0.3s ease;
    width: 100%;

    .google-icon-wrapper {
        background-color: $white;
        border-radius: 2px;
        height: 40px;
        margin-left: 1px;
        margin-top: 1px;
        position: absolute;
        width: 40px;
    }
    .google-icon {
        height: 18px;
        margin-left: 11px;
        margin-top: 11px;
        position: absolute;
        width: 18px;
    }
    .btn-text {
        color: $white;
        float: right;
        font-size: 14px;
        letter-spacing: 0.2px;
        margin: 11px 40px 0 0;
    }
    &:hover {
        box-shadow: 0 0 6px $google-blue;
    }
    &:active {
        background: $button-active-blue;
    }
}

.ui__button {
    background-color: $primary;
    border-radius: 5px;
    border: none;
    color: $gray-4;
    cursor: pointer;
    font-size: $font-size-2;
    font-weight: $font-weight-bold;
    margin: $spacer-1 0;
    padding: $spacer-1 $spacer-2;

    &:hover {
        background-color: darken($color: $primary, $amount: 20);
    }
}

.ui__btn-logout {
    padding: $spacer-1 $spacer-2;
    font-size: $font-size-3;
    font-weight: $font-weight-bold;
    border: none;
    cursor: pointer;
    margin-top: auto;

    border-radius: 5px;
    &:hover {
        background-color: $alert;
    }
}

.ui__btn-submit {
    text-decoration: none;
    background-color: $primary;
    padding: 2px 7px;
    font-weight: $font-weight-bold;
    font-size: 1.3rem;
    color: #fff;
    transform: scale(1);
    transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: none;
    border-radius: 2em;
    margin: 1em 0;
    display: inline-flex;
    align-items: center;

    &:hover {
        background-color: darken($color: $primary, $amount: 5);
        transform: scale(1.1);
    }

    &:disabled {
        background-color: lighten($color: $gray-1, $amount: 40);
        cursor: not-allowed;
    }
}
