@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.grid{
	max-width:1200px;
	width:90%;
	margin : 4em auto;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
	gap:1em;
}
